
body, html{min-height: 100vh; margin: 0; font-size: 16px; font-family: 'Open Sans', sans-serif;}

a{text-decoration: none;}

nav{height: 100px; background-color: #ccc;}

.container{width: 80%; margin: 0 auto;}

.logo{width: 100%; border-bottom: 2px solid #ddd; padding: 10px; display: flex; align-items: center;}
.logo span{color: steelblue; font-size: 1.4rem; font-weight: bold;}
.logo img{width: 25px;}

.welcome span{font-size: 0.9rem;}
.welcome span b{font-size: 1rem;}

.buttons-menu{width: 100%; height: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 7px;}
.buttons-menu .right, .buttons-menu .left{display: flex; align-items: center; height: 100%;}

.menu-button{border: 2px solid #ddd; border-radius: 5px; padding: 5px; margin-right: 10px;}
.menu-button a{display: flex; align-items: center; text-decoration: none; color: black; font-size: 0.9rem;}
.menu-button a img{margin-right: 3px; width: 20px;}

.content{margin: 60px 0 0 0;}

.form{border-radius: 10px; padding: 25px; width:fit-content; margin: 0 auto;}

.device{width: 55%; display: flex; flex-direction: row; flex-wrap: wrap; border: 2px solid #ddd; border-radius: 8px; margin-bottom: 15px; overflow: hidden; font-size: 0.9rem;}
.device .info a{color: black;}
.device .info{width: 80%; display: flex; flex-wrap: wrap; display: flex; flex-direction: row; flex-wrap: wrap; padding: 7px;}
.device .service-btn{width: 20%; background-color: #ddd; overflow: hidden; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; cursor: pointer; text-decoration: none;}
.device .service-btn img{width: 30px;}
.device .service-btn span{font-size: 0.8rem; color: steelblue; margin-left: 5px;}
.device .info .serial, 
.device .info .update{width: 33.3%; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; margin-bottom: 7px;}
.device .info .description,
.device .info .typology,
.device .info .department{width: 33.3%; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;}
.device .info img{width: 18px; margin-right: 3px;}
.device .info .update .em-update{color: red; font-weight: bold;}

.single-device-page{display: flex; flex-direction: row; flex-wrap: wrap;}

.single-device{width: 70%; display: flex; flex-direction: row; flex-wrap: wrap; border: 2px solid #ddd; border-radius: 8px; padding: 25px; font-size: 0.9rem;}
.single-device .serial,
.single-device .update,
.single-device .typology,
.single-device .department{width: 50%; display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 25px;}
.single-device .description{width: 100%; display: flex; flex-direction: column; flex-wrap: wrap; margin-bottom: 25px;}
.single-device .utilizers{width: 100%;}
.single-device .title{text-transform: uppercase; color: #858383; font-size: 0.7rem;}
.single-device img{width: 20px;}
.single-device .info-box span:nth-child(2){display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;}
.single-device .utilizers ul{padding: 0; margin: 0; list-style: none;}

.btn-aside{width: 10%; display: flex; flex-direction: column; flex-wrap: wrap; margin-left: 15px; }
.btn-aside .device-btn{width: 135px; height: 50px; background-color: #ddd; border-radius: 8px; color: steelblue; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; padding: 5px; margin-bottom: 15px;}
.btn-aside .device-btn span{font-size: 0.8rem; font-weight: bold;}
.btn-aside .device-btn img{width: 30px;}


.single-device .services{width: 100%; display: flex; flex-direction: column; flex-wrap: wrap; margin-top: 40px;}
.single-device .services .log-box{display: flex; flex-direction: column; flex-wrap: wrap; margin-top: 5px; font-size: 0.8rem;}
.single-device .services .log-box .log{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; background-color: #EFEFEF; border-radius: 5px; overflow: hidden; margin-bottom: 10px; padding: 6px;}
.single-device .services .log-box .log .service-date{margin-right: 10px; font-size: 0.7rem;}
.single-device .services .log-box .log .left,
.single-device .services .log-box .log .right{width: max-content; display: flex; flex-direction: row;}
.single-device .services .log-box .log .service-description{margin-right: 10px;} 
.single-device .services .log-box .log .service-user{margin-right: 10px;} 
.single-device .services .log-box .log .service-update{width: 40px; display: flex; justify-content: center; align-items: center;} 


* {
    box-sizing: border-box;
  }